/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
}

/* generics */
body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 80px;
}

/* utilities */
.container{
    max-width: 500px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.fb-33{
    flex-basis: calc(100% / 3);
}

.fb-66{
    flex-basis: calc(100% / 3 * 2);
}

.row{
    margin: 20px -20px;
}

.col{
    padding: 20px;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-white{
    background-color: #fff;
}

/* header */
#fixed-header{
    background-color: var(--blue);
    color: #fff;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#fixed-header div{
    justify-content: space-between;
    align-items: center;
}

#fixed-header .navbar{
    display: none;
}



/* features */
.features-card{
    background-color: var(--lightblue);
    border-radius: 30px;
    min-height: 350px;
}



/* responsive mobile-first (576px)*/

/* dai 768px*/
@media screen and (min-width: 768px){
    /* utilities */
    .container{
        max-width: 730px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

/* dai 992px*/
@media screen and (min-width: 992px){
    /* utilities */
    .container{
        max-width: 800px;
    }

    /* header */
    #fixed-header .navbar{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }

    /* planning section */
    #planning .col{
        flex-basis: 50%;
    }
}