/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
}

/* generics */
body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 80px;
}

img{
    max-width: 100%;
    display: block;
}

i{
    margin-right: 8px;
}

/* utilities */
.container{
    max-width: 500px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.fb-33{
    flex-basis: calc(100% / 3);
}

.fb-40{
    flex-basis: 40%;
}

.fb-60{
    flex-basis: 60%;
}

.fb-66{
    flex-basis: calc(100% / 3 * 2);
}

.row{
    margin: 20px -20px;
}

.col{
    padding: 20px;
}

.bg-purple{
    background-color: #9792e4;
}

.bg-white{
    background-color: #fff;
}

.bg-black{
    background-color: #333;
}

.btn{
    padding: 5px 10px;
    border-radius: 25px;
}

/* header */
#fixed-header{
    background-color: var(--blue);
    color: #fff;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#fixed-header:first-child div{
    justify-content: space-between;
    align-items: center;
}

#fixed-header a{
    color: #fff;
    font-size: 30px;
}

#fixed-header .navbar{
    display: none;
    list-style-type: none;
}

#fixed-header .navbar li{
    padding-left: 10px;
    text-transform: capitalize;
}

#fixed-header .navbar a{
    text-decoration: none;
    font-size: 18px;
    
}

#fixed-header li:last-child a{
    color: #000;
}

/* features */
.features-card{
    background-color: var(--lightblue);
    border-radius: 15px;
    padding: 30px;
    position: relative;
}

.fb-33 .features-card{
    text-align: center;
    color: var(--blue);
}

.features-card h4{
    color: var(--blue);
    font-size: 25px;
    margin-bottom: 25px;
}

.features-card p{
    color: #5a6e7f;
    line-height: 25px;
    font-weight: bold;
}

.features-card a{
    display: inline-block;
    background-color: var(--blue);
    color: #fff;
    margin: 25px 0px;
    padding: 10px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}

.features-card img{
    position: relative;
    top: 30px;
}

.fb-33 .features-card i{
    font-size: 100px;
    margin-bottom: 25px;
}





/* responsive mobile-first (576px)*/

/* dai 768px*/
@media screen and (min-width: 768px){
    /* utilities */
    .container{
        max-width: 730px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .col{
        display: flex;
    }

    /* features section */
    .features-card img{
        max-width: 60%;
    }

    /* benefits section */
    #benefits .col{
        flex-basis: 50%;
    }
}

/* dai 992px*/
@media screen and (min-width: 992px){
    /* utilities */
    .container{
        max-width: 900px;
    }

    /* header */
    #fixed-header .navbar{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }

    /* features section */
    .fb-66 .features-card{
        display: flex;
    }

    .features-card img{
        max-width: 100%;
    }

    figure{
        align-self: flex-end;
    }

    /* planning section */
    #planning .col{
        flex-basis: 50%;
    }

    /* benefits section */
    #benefits .col{
        flex-basis: calc(100% / 3);
    }
}