/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0084fd;
}

/* generics */
body{
    padding-top: 80px;
}

/* utilities */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

/* header */
#fixed-header{
    background-color: var(--blue);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#fixed-header .navbar{
    display: none;
}

@media screen and (min-width: 769px){
    #fixed-header .navbar{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }
}